/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
    font-family: 'Lato';
}

nav > img {
    height: 40px;
}

ul {
    display: flex;
    width: 400px;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-image: url(/images/landing.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    color: #fff
}

header p {
    color: #fff;
}

p, li {
    color: #1a1a1a;
    text-decoration: none;
}

article img {
    height: 48px;
}

section {

}

footer {
    background-color: #00B172;
}

